{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'homepage/materialize.min.css'%}"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <!--Import stylesheet for icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Status</title>
  </head>

<body>

<div class="container">
<h1 style="color: red;">Haloo Apa Kabar?</h1>

    <form method = "POST"id="id_form">{% csrf_token %} {{form}}</form>
    
    <div class="row">
    {%for data in CONTENT%}
    <div class="col">
        <div class="card" style="width:18rem; background: orange;">
        <h5 class="card-title" style="font-weight: 500;">{{data.statusText}}</h5>
        <p>{{data.currentTime}}</p>
        </div>
    </div>
    {% endfor %}
     
</div>

</div>
 <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="{% static 'cv/materialize.min.js' %}"></script>
</body>
</html>